<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Vaccine Availability
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Vaccine Availability</ion-title>
    </ion-toolbar>
  </ion-header>
  <form (ngSubmit)="logForm()">
    <ion-item>
      <ion-label>Pincode</ion-label>
      <ion-input type="text" [(ngModel)]="pincode" name="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Date</ion-label>
      <ion-textarea [(ngModel)]="date" name="description"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Age</ion-label>
      <ion-textarea [(ngModel)]="age" name="description"></ion-textarea>
    </ion-item>
    <button ion-button type="submit" block>Submit</button>
  </form>
  <div id="container">
    <p>{{sessions}}</p>

  </div>
</ion-content>
